
body{
    background-color: #EAF6F6;
}

h1{
   color: #436f8a;
    font-family: lucida bright;
}

h3{
   color: #66BFBF;
    font-family: verdana;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 10%;
}
